:root {
  --typed-text: #8d8d8d;
}
:root {
  --important: #c07dbb;
  --cta: #b10dc9;
  --emphasis: #2997fe;
  --info: #7fdbff;
  --background: #f2eee5;
  --background-seethrough: #f2eee510;
  --background-seethrough-2: #f2eee530;
  --background-stronger: #323230;
  --foreground-for-stronger-background: var(--background-extreme);
  --background-extreme: #fbfcf680;
  --foreground-contrast: #b7b7b7;
  --foreground: #181410;
}

:root.dark {
  --important: #d41413;
  --cta: #50f148;
  --emphasis: #d97706;
  --info: #fcd34d;
  --background: #222;
  --background-seethrough: #12121210;
  --background-seethrough-2: #12121230;
  --background-stronger: #121212;
  --foreground-for-stronger-background: #f8f8f880;
  --background-extreme: #1d1d1b;
  --foreground-contrast: #484848;
  --foreground: #f8f8f8;
}

html {
  background: var(--background);
  color: var(--foreground);
}
