:root {
  --important: #c07dbb;
  --cta: #b10dc9;
  --emphasis: #2997fe;
  --info: #7fdbff;
  --background: #fbfbfd;
  --background-stronger: #ededed;
  --background-stronger-seethrough: #ededed11;
  --background-stronger-seethrough-2: #ededed33;
  --background-extreme: #fff;
  --foreground-contrast: #c7c7c7;
  --foreground: #1d1d1f;
}

:root.dark {
  --important: #d41413;
  --cta: #50f148;
  --emphasis: #d97706;
  --info: #fcd34d;
  --background: #222;
  --background-stronger: #121212;
  --background-stronger-seethrough: #12121211;
  --background-stronger-seethrough-2: #12121233;
  --background-extreme: #1d1d1b;
  --foreground-contrast: #484848;
  --foreground: #f8f8f8;
}

html {
  background: var(--background);
  color: var(--foreground);
}
 h3 {
   @apply text-[var(--background-extreme)];
 }
