:root {
  --important: #d41413;
  --cta: #50f148;
  --emphasis: #d97706;
  --info: #fcd34d;
}

:root.dark {
  --background: #222;
  --background-darker: #121212;
  --background-lighter: #282828;
  --foreground: #f8f8f8;
}

html {
  background: var(--background);
  color: var(--foreground);
}
 h2 {
   @apply text-[var(--background-lighter)];
 }
