@import './markdown.css';
@import './colors.css';
@import './animations.css';
@import './text.css';

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-[var(--info)] opacity-75 fixed z-fixed top-0 left-0 w-full h-2px;
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.icon-clickable {
  @apply hover-emphasis inline-block cursor-pointer select-none text-[var(--cta)]
    transition duration-200 ease-in-out;
}

.ext-link {
  @apply hover-emphasis inline-block cursor-pointer select-none text-[var(--cta)]
    transition duration-200 ease-in-out
    hover:(text-[var(--emphasis)]);
}
