@import './markdown.css';
@import './colors.css';
@import './animations.css';
@import './text.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}


#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-[var(--info)] opacity-75 fixed z-fixed top-0 left-0 w-full h-2px;
}

.btn {
  @apply px-4 py-1 rounded inline-block bg-lime-600 cursor-pointer
    hover:(bg-lime-700 text-lime-900)
    disabled:(cursor-default bg-gray-600 opacity-50);
  box-shadow: 1px 1px 3px rgba(0, 50, 0, 0.5);
}

.icon-link {
  @apply hover-emphasis inline-block cursor-pointer select-none opacity-75 text-[var(--cta)]
    transition duration-200 ease-in-out
    hover:(opacity-100);
  font-size: 0.9em;
}
